@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,100&display=swap");
body {
    min-height: 2000px;
}

.jumbotron {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-top: 6rem;
    background-color: #9dbdbd;
}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#projects {
    background-color: #9dbdbd;
}

section {
    padding-top: 5rem;
}